<!DOCTYPE html>
<html>
    <body>
        <div>
            <p>Hi</p>
            <p>
                <%= @user.email %> has referred you to join Direct Shifts
            </p>
            <p> Click <a href="https://direct-shifts-frontend.herokuapp.com", target="_blank">here</a> to sign up</p>
            <p> Thanks </p>
        </div>
    </body>
</html>